#AboutMe {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    padding-bottom: 2rem;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-optical-sizing: auto;
    color: #283618;
    background-color: #B7B7A4;
    padding-bottom: 10rem;
    padding-top: 12rem;
}

#Test {
    font-size: 2rem;
    margin-bottom: 1rem; 
    padding-right: 5rem;
    padding-bottom: 1rem;
}

.right-box {
    display: flex;
    gap: 1rem; 
    padding: 3rem; 
    align-items: flex-end;
    justify-content: flex-end; 
}

.HuyPham {
    background-color: #F0EFEB;
    margin: 0.5rem;
    border-radius: 25px;
    width: 1000px;  
    height: 500px; 
    padding: 2rem; 
    font-size: 1.18rem;
}

hr{
    border-top: 2px solid #D4D4D4;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.Intro {
    padding-left: 1rem;
}

.HuyPham {
    transition: transform 0.3s ease; 
}

.HuyPham:hover {
    transform: scale(1.05); 
}
