@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

footer{
    padding-top:0.8rem;
    padding-bottom:0.5rem;
}

#Footer {
    background-color: #283618;
}

#FooterContainer{
    color: #B7B7A4;
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    padding: 0.3rem;
}

.Sep{
    padding-left: 0.3rem;
    padding-right:0.3rem;
}

#CopyWrite{
    color: #B7B7A4;
    text-align: center;
    font-size: 0.8rem;
}

#CreditForm{
    color: #B7B7A4;
    text-decoration: none;
}