#Gallery {
    color: #283618;
    background-color: #B7B7A4;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center; 
    align-items: flex-start;
}

.Slides {
    max-width: 50%; 
    margin-top: 7rem; 
}

.image-gallery-slide img {
    width: 100%; 
    height: auto; 
    object-fit: contain; 
}
