
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

#GetStarted{
    padding-top: 3rem;
    background-color: rgba(103, 4, 29);
    color: #FFFFd5;
    scroll-margin: 10rem;
}

#StartedHeader{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    color: #FFFFd5;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.StartedContainer{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.Steps{
    width: 15rem;
    background-color:#FFFFd5;
    margin: 1.5rem;
    text-align: center;
    padding-bottom: 0.5rem;
    border-radius: 25px;
}

.Number{
    color: rgba(103, 4, 29);
    font-weight: 800;
    font-size: 3.5rem;
}

.Info{
    color: rgba(103, 4, 29);
    padding: 0.5rem;
}

#form{
    text-decoration: none;
    color: rgba(103, 4, 29);
    font-weight: bold;
}

@media screen and (max-width: 700px){
    .StartedContainer{
        flex-direction: column;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
    }

    .Steps{
        height: auto !important;
    }
}